:host {
  --menu-width: 200px;

  position: relative;
  display: flex;
  flex-direction: column;

  .skip-links {
    z-index: 3;
    display: flex;
    justify-content: center;
    gap: 4px;
    box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);

    a {
      padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
    }

    &:has(:focus-within) {
      clip: unset;
      clip-path: unset;
      height: unset;
      overflow: unset;
      position: unset;
      white-space: unset;
      width: unset;
    }
  }

  .main-container {
    display: flex;

    nav {
      position: sticky;
      left: 0;
      top: var(--header-min-height);
      display: flex;
      flex-direction: column;
      width: 200px;
      height: calc(100vh - var(--header-min-height));
      padding: calc(var(--spacing) / 3) 0;
      border-right: 1px solid color-mix(in hsl, var(--foreground), transparent 80%);
      overflow: auto;

      &.hidden {
        opacity: 0;
        translate: -100%;
        width: 0;

        &:focus-visible,
        &:focus-within {
          opacity: unset;
          translate: unset;
          width: var(--menu-width);
        }
      }

      a {
        padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
        color: inherit;
        text-decoration: none;
        word-break: break-word;
        outline-offset: -2px;

        &[aria-current] {
          box-shadow: inset 4px 0 0 var(--dark-grey);
          font-weight: 600;
        }

        &:hover,
        &:focus-visible {
          background: var(--light-grey);
        }
      }
    }

    /* route */
    & > ::ng-deep *:last-child {
      flex-grow: 1;
    }
  }
}

:host-context(.fullscreen) {
  :host {
    .main-container {
      nav {
        display: none;
      }
    }
  }
}
