@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Sono:wght,MONO@200..800,1&display=swap');

:root {
  --base-font: 'Inclusive Sans', sans-serif;
  --title-font: 'Sono', monospace;

  color-scheme: light dark;
  accent-color: light-dark(black, white);
  --spacing: 30px;
  --spacing2: 50px;
  --background: light-dark(rgb(230, 230, 230), rgb(15, 15, 15));
  --surface-background: light-dark(rgb(255, 255, 255), rgb(30, 30, 30));

  --surface-transparency: 0.85;
  --surface-background-transparent: light-dark(
    rgba(255, 255, 255, var(--surface-transparency)),
    rgba(40, 40, 40, var(--surface-transparency))
  );

  --shadow-color: light-dark(rgba(0, 0, 0, 0.2), rgb(0, 0, 0));
  --shadow-spread: 10px;

  /**
  COLORS
  **/
  --red: oklch(60% 0.32 25 / 0.2);
  --orange: oklch(70% 0.29 70 / 0.2);
  --yellow: oklch(75% 0.28 95 / 0.2);
  --lime: oklch(72% 0.27 130 / 0.2);
  --green: oklch(65% 0.26 145 / 0.2);
  --emerald: oklch(62% 0.25 160 / 0.2);
  --teal: oklch(60% 0.25 175 / 0.2);
  --cyan: oklch(65% 0.24 195 / 0.2);
  --azure: oklch(60% 0.25 215 / 0.2);
  --blue: oklch(55% 0.27 250 / 0.2);
  --indigo: oklch(50% 0.28 270 / 0.2);
  --violet: oklch(52% 0.29 290 / 0.2);
  --purple: oklch(50% 0.3 305 / 0.2);
  --magenta: oklch(55% 0.31 320 / 0.2);
  --pink: oklch(65% 0.31 345 / 0.2);
  --rose: oklch(68% 0.3 5 /0.2);
}

body {
  background: var(--background);
  margin: 0;
  font-family: var(--base-font);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

button {
  font: inherit;
  font-weight: 600;
  background: var(--background);
  border: 2px solid var(--shadow-color);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 3);

  &:not([disabled]):hover {
    scale: 1.05;
  }

  &:not([disabled]):active {
    opacity: 0.7;
    scale: 1;
  }
}

input,
select {
  font: inherit;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;

  legend {
    padding: 0;
    display: contents;
  }

  label {
    font-weight: normal !important;
  }
}

.center {
  text-align: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
